{% sw_extends '@Storefront/storefront/component/line-item/type/generic.html.twig' %}

{% block component_line_item_type_generic_details %}
    {% if lineItem.type !== 'reward-product' %}
        {% block component_line_item_type_generic_delivery_date %}
        {% endblock %}
    {% endif %}

    {{ parent() }}
{% endblock %}

{% block component_line_item_type_generic_col_tax_price %}
    {% if lineItem.type !== 'reward-product' %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block component_line_item_type_generic_col_unit_price %}
    {% if lineItem.type !== 'reward-product' %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block component_line_item_type_generic_col_total_price %}
    {% if lineItem.type !== 'reward-product' %}
        {{ parent() }}
    {% else %}
        <div class="line-item-total-price">
            {{ lineItem.payload.points }} {{ "loyaltyProgram.global.points"|trans|sw_sanitize }}
        </div>
    {% endif %}
{% endblock %}