{% block loyalty_reward_card %}
    <div class="card product-box card-box">
        <div class="card-body d-flex flex-column">
            {% block reward_card_badges %}
                <div class="product-badges">
                    {% if item.type === 'discount' %}
                        <div>
                            <div class="badge bg-danger badge-discount">
                                <span>&#37;</span>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endblock %}

            {% block reward_card_images %}
                <div class="card-body-top">
                    <div class="product-image-wrapper">
                        <div class="product-image-link is-cover">
                            {% if item.mediaId %}
                                {% set rewardMediaId = item.mediaId %}
                                {% set mediaCollection = searchMedia([rewardMediaId], context.context) %}
                                {% set rewardMedia = mediaCollection.get(rewardMediaId) %}

                                {% set attributes = {
                                    class: 'product-image is-' ~ displayMode,
                                    title: item.translated.name
                                } %}

                                {% set attributes = attributes|merge({ 'data-object-fit': 'cover' }) %}


                                {% sw_thumbnails 'product-image-thumbnails' with {
                                    media: rewardMedia,
                                    attributes: attributes
                                } %}
                            {% else %}
                                <div class="product-image-placeholder">
                                    {% sw_icon 'placeholder' style {
                                        size: 'fluid',
                                        ariaHidden: true
                                    } %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endblock %}

            {% block reward_card_info %}
                <div class="card-body-bottom flex-grow-1">
                    <div class="product-info h-100 d-flex flex-column justify-content-between">
                        <div class="product-info-top">
                            <div class="product-name">
                                {{ item.translated.name }}
                            </div>

                            {% if item.translated.description %}
                                <div class="product-description">
                                    {{ item.translated.description|raw }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="product-info-bottom">
                            <div class="product-price-info">
                                {% if item.type === 'discount' %}
                                    <div class="product-price-information">
                                        {% if item.discountMethod === 'fixed' %}
                                            {{ "loyaltyProgram.global.savePrefix"|trans|sw_sanitize }} <strong>{{ item.discountFixed }} {{ currency.shortName }}</strong> {{ "loyaltyProgram.global.saveSuffix"|trans|sw_sanitize }}
                                        {% endif %}
                                        {% if item.discountMethod === 'percentage' %}
                                            {{ "loyaltyProgram.global.savePrefix"|trans|sw_sanitize }} <strong>{{ item.discountPercentage }}%</strong> {{ "loyaltyProgram.global.saveSuffix"|trans|sw_sanitize }}
                                        {% endif %}

                                    </div>
                                {% endif %}

                                <div class="product-price-wrapper">
                                    <div class="product-price">
                                        {{ item.points }} {{ "loyaltyProgram.global.points"|trans|sw_sanitize }}
                                    </div>
                                </div>

                                <div class="product-price-button-wrapper pt-3">
                                    {% if context.customer.extensions.loyaltyCustomer.points >= item.points %}
                                        {% if item.type === 'product' %}
                                            <form action="/loyalty-claim/product" method="post" class="claim-widget" data-add-to-card="true">
                                                <input type="hidden" name="redirectTo" value="frontend.cart.offcanvas" />
                                                <input type="hidden" name="redirectParameters" value='{"productId": "{{ item.id }}"}' />
                                                <input type="hidden" name="id" value="{{ item.id }}" />
                                                <input type="hidden" name="type" value="reward-product" />

                                                <input type="hidden" name="name" value="{{ item.translated.name }}" />

                                                <button class="btn btn-primary btn-block w-100">
                                                    {{ 'loyaltyProgram.global.claimReward'|trans|sw_sanitize }}
                                                </button>
                                            </form>
                                        {% else %}
                                            <form action="/loyalty-claim/promotion" method="post" class="claim-widget" data-add-to-card="true">
                                                <input type="hidden" name="redirectTo" value="frontend.account.loyalty.rewards" />
                                                <input type="hidden" name="lineItems[{{ item.id }}][id]" value="{{ item.id }}" />
                                                <input type="hidden" name="lineItems[{{ item.id }}][removable]" value="0" />
                                                <input type="hidden" name="lineItems[{{ item.id }}][quantity]" value="1" />

                                                <input type="hidden" name="product-name" value="{{ item.translated.name }}" />

                                                <button class="btn btn-primary btn-block w-100">
                                                    {{ 'loyaltyProgram.global.claimReward'|trans|sw_sanitize }}
                                                </button>
                                            </form>
                                        {% endif %}
                                    {% else %}
                                        {% set pointDifference = item.points - context.customer.extensions.loyaltyCustomer.points %}

                                        <div class="btn btn-light btn-block w-100" style="pointer-events: none;">
                                            {{ 'loyaltyProgram.global.pointsLeft'|trans({'%points%': pointDifference}) }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}


        </div>
    </div>
{% endblock %}